.btn {
  @apply absolute top-1/2 cursor-pointer rounded-full bg-white p-3 m-0 z-40;
  transform: translateY(-50%);
}
.left {
  @apply left-2;
}
.right {
  @apply right-2;
}
.btn:hover path {
  @apply stroke-orange-500;
}
.images img {
  transition: opacity 1s ease-in-out;
  @apply absolute inset-0;
}
.thumbnails img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.thumbnails img:hover {
  transform: scale(1.1);
}
